* {
  font-family: "Cabin", sans-serif;
  margin: 0.5vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 2rem;
}

h3 {
  background-color: gold;
}
